@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap_overrides";

.card {
  border: 2px black solid;
  margin: 5px;
}

#stations {
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
}